
<div class="panel panel-info">
    
    <div ng-repeat="layerGroup in groupedLayers">
        <div class="list layers-list" ui-sortable="sortableOptions">
        <div class="item item-button-left item-button-right transparent" ng-repeat="layer in layerGroup.layers">
            <!--<img class="icon-title" ng-src="{{ getLayerIcon(layer.name) }}" alt=""> 
            
            -->
            
            <button class="button icon ion-arrow-expand" ng-click="toExtent(layer)"></button>

            {{layer.name }} <br>
            {{layer.abstract }}
            <div class="buttons">
            <button class="button button-calm" ng-click="setVisible(layer)" ng-class="{'button-energized' : isVisible(layer) == true}">
                <i class="icon" ng-class="{'ion-eye' : isVisible(layer) == true, 'ion-eye-disabled' : isVisible(layer) == false}"></i>
            </button>
            <button class="button button-assertive icon ion-minus-circled" ng-click="removeLayer(layer)"
            ng-disabled="!layerInMap(layer.uid)"></button>
            </div>


        </div>

        

    </div>

      


</div>
    
